@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import "./variables/variables";
@import "./mixins/mixins";
@import "./components/spinner";
@import "./components/modal";


*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: $main-color;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.pic-wrapper {
  margin-top: 50px;
  text-align: center;
  img {
    width: 70px;
    height: 70px;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    @include box-shadow;
    color: $main-color;
    background: $white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 280px;
    height: 70px;
    font-size: 28px;
    font-family: $main-font;
  }
}

.spinner {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 auto;
  color: $main-color;
}

.new-meme {
  text-align: center;
  height: 350px;
  margin-bottom: 45px;
  .memes {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}


